.modal-guests__close-button {
    margin: 0;
    padding: 0;
    background-image: url(../../images/icons-close-light.svg);
    position: absolute;
    top: 22px;
    right: 22px;
    width: 22px;
    height: 22px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: inherit;
    cursor: pointer;
    transition: 1s;
}
.modal-guests__close-button:hover {
    opacity: 0.5;
}
.modal-guests__title {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

/* Overlay  */
.modal-guests__overlay {
    display: none;
}

.modal-guests__overlay.active {
    background-color: rgb(0 0 0 / 40%);
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.modal-guests {
    margin: 0;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 520px;
    min-height: 500px;
    max-height: 560px;
    overflow-x: scroll;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 2px 0.75rem rgba(12, 14, 28, 0.08);
    position: relative;
}

.modal-guests__guests {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 40px;
    border-bottom: dashed #d5d4d44a;
}
.modal-guests__guests-count {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.modal-guests__subtitle {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.modal-guests__subtitle_room {
    font-weight: 400;
    color: #1668e3;
}
.counter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    width: 140px;
    justify-content: space-between;
}
.counter__button {
    margin: 0;
    padding: 10px 15px;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}
button:disabled {
    opacity: 0.3;
}

.modal-guests__button {
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    border-radius: 2500rem;
    background-color: #1668e3;
    border: none;
    color: #ffffff;
    width: 190px;
    height: 48px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 1s;
}
.modal-guests__button:hover {
    transform: scale(1.06);
    transition: 0.6s ease-in-out;
}
.modal-guests__button_add-room {
    background-color: inherit;
    border: 1px solid #1668e3;
    color: #000000;
}
