.footer {
    padding: 20px;
    margin: 0;
    margin-bottom: 20px;
    border-top: 1px solid #dfe0e4;
}
.footer__logo {
    width: 144px;
    height: 32px;
    object-fit: contain;
}
.footer__title {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #817362;
}
.footer__span {
    font-size: 1.25rem;
}
.footer__link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: 1s;
}
.footer__link:hover {
    opacity: 0.5;
}
